# Archivos y carpetas del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
docker-compose.override.yml
docker/Dockerfile.override

# Archivos de logs
logs/
logs/*

# Configuración de Docker
docker/db_data




# Archivos de bases de datos y backups
*.sql
*.tar.gz
*.gz

# Archivos temporales de PHP
*.log
*.cache

# Directorios generados por Composer y dependencias
/vendor/

# Archivos y directorios que contienen configuraciones específicas de desarrollo
# Ignorar archivos de configuración de Apache o Nginx si es necesario


# Ignorar archivos de configuración en src
src/.migraciones_completadas

# Ignorar archivos de pruebas o ejemplos (si no son necesarios en producción)
tests/
examples/

# Archivos de configuración de entorno de Docker (si contienen credenciales sensibles)
docker-compose.yml
docker/*   # Ignorar el directorio Docker entero si contiene configuraciones sensibles

