/* Contenedor general del carrito */
.carrito-contenedor {
    max-width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Título del carrito */
.carrito-titulo {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    color: #1B3F48;
    text-align: center;
    margin-bottom: 2rem;
}

/* Tabla de productos */
.carrito-tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Evita que sobresalgan los bordes */
}

.carrito-tabla th, .carrito-tabla td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #EDEDED;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.carrito-tabla th {
    background-color: #1B3F48;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 1.5rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.carrito-tabla td {
    text-align: center;
    vertical-align: middle;
}

/* Mensaje de carrito vacío */
#empty-message {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    color: #6C757D; /* Gris suave */
    padding: 2rem 0;
}

/* Total y botón */
.carrito-total {
    margin-top: 2.5rem;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    color:#1B3F48;
    font-weight: bold;
}

.btn-finalizar {
    background-color: #1B3F48;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 1rem;
}

.btn-finalizar:hover {
    background-color: #1B3F48;
}

.btn-finalizar:disabled {
    background-color: #E0E0E0;
    color: #B0B0B0;
    cursor: not-allowed;
}
