html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #F2E5D5;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    flex: 1;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer {
    background-color: #1B3F48;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.Usuario img {
    height: 30px;
}

.Usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Centrar el título dentro del formulario */
form h1, form h3, form h4 {
    text-align: center;
    font-family: 'Playwrite GB S', cursive;
    color: #1B3F48;
}

/* Estilo para los campos de entrada */
.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #1B3F48;
}

input {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 2px solid #1B3F48;
    border-radius: 10px;
    outline: none;
    background-color: white;
    color: black;
    font-size: 16px;
}

input:focus {
    border-color: #163439;
}

/* Botón de envío */
button.btn {
    background-color: #1B3F48;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
}

button.btn:hover {
    background-color: #163439;
}

/* Contenedor principal de la página */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #F2E5D5;
    border-radius: 10px;
    width: 70%;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.form-container {
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}
